{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title">ACL Rehab Protocol  <span>Protocol</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="{% url 'index' %}">Home</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url  'acl_rehab' %}">ACL Rehab Protocol </a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Portfolio Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="portfolio-page-block portfolio-page-style-three mrb-172">
            <div class="container">
                <!-- Content Row -->
                <div class="row">
                    <div class="section-header">
                        <h3 class="title">Acl Reconstruction Rehabilitation Protocol </h3>
                        <h4>Pre-operative Rehabilitation Phase:</h4>
                        <div class="col-md-12">
                            <p> 1. <b>Immobilize the knee:</b> Following the acute injury you should use a knee immobilizer until you regain good muscular control of the leg.  
                            </p>
                            <p> 2.<b>Control Pain and Swelling :</b>
                            Application of cool pack and elevation of foot on a pillow to help control pain and swelling following the acute injury.
                            </p>
                            <p> 3.<b>Walking</b> : You are encouraged to bear as much weight on the affected leg as tolerated while walking with walker support unless otherwise directed by your doctor. Avoid turning on affected leg while walking.
                            </p>
                            <p> 4. <b>Exercising Quadriceps:</b> You should start quadriceps (thigh muscles) exercises with the knee in the fully extended position as soon as possible.
                            </p><ul>
                            - Sit or lie on the bed with your injured leg straight out in front of you.	<br>
                            - Tighten the muscles on top of your thigh by pressing the back of your knee flat down to the floor.	<br>
                            - Hold for about 10 seconds, and then relax.         			                                                         - Do 3 sets of 10 repetitions 3 times a day. 
                            </ul>
                            <p> 5. <b>Restore normal range of motion::</b>
                            You should attempt to achieve full range of motion as quickly as possible. The exercises include the following 
                            <br>
                            <b>a) Full extension is obtained by doing the following exercise:  Heel Props:</b>
                            <br>
                            </p><p>• Place the heel on a rolled towel making sure the heel is propped high enough to lift the thigh off the table.<br>
                            • Allow the leg to relax into extension. <br>
                            • Do this 3-4 times a day for 10 - 15 minutes at a time.</p>
                            <b>b) Flexion (bending) is obtained by doing the following exercises:	</b><br>	                     As swelling subsides 											 - Pull the heel toward the buttocks, flexing the knee. Hold for 5 seconds. 				 - Straighten the leg by sliding the heel downward and hold for 5 seconds.			
                            <p>As swelling subsides</p>
                            <p>- Pull the heel toward the buttocks, flexing the knee. Hold for 5 seconds. </p>
                            <p>- Straighten the leg by sliding the heel downward and hold for 5 seconds.</p>
                            <br>
                        
                            </div>
                      
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4>Post Operative Rehabilitation Phase :<h4>
                        <b style="color:red;">WEEK 1-2 :</b></h4>
                        <p> 1. <b>Control Swelling:</b> 
                        Elevate your leg on a pillow and keep the knee iced(cool pack).The ice should be applied 4-5 times per day for 20 minutes.
                        </p>
                        <p> 2.<b>Caring for your knee:</b>
                        knee immobilizer (long knee brace) should be worn until you regain good muscular control of the leg.	
                        </p>
                        <b>Weight bearing status (WALKING) : </b>
                        <p>
                            <ul class="grid">
                            <li>Day 1-7  =  50% body weight</li>
                            <li>Day 8-14 =  50-75% body weight</li>
                            <li>End of week 2     =  full weight bearing</li>
                        </ul>
                        IT IS IMPORTANT TO KEEP THE INCISIONS DRY UNTIL THE STITCHES ARE REMOVED. 
                        </p>
                        <p> 3. <b>Exercising Quadriceps:</b> : You should start quadriceps (thigh muscles) exercises with the knee in the fully extended position as soon as possible.
                        </p>
                        <ul class="grid">
                            <li> Sit or lie on the bed with your injured leg straight out in front of you.</li>
                            <li>Tighten the muscles on top of your thigh by pressing the back of your knee flat down to the floor.</li>
                            <li> Hold for about 10 seconds, and then relax.  </li>
                            <li> Do 3 sets of 10 repetitions 3 times a day.</li>
                        </ul>
                        <img src="{% static 'assets/images/others/acl.jpg' %}">
                        <p> 4. <b>Straight leg raises (SLR):</b> :with the knee immobilizer on 3 sets of 10 repetitions 3 times a day. Start by doing these exercises while lying down.
                        </p>
                        <ul class="grid">
                            <li> Here the leg is then kept straight and lifted to about 45-60 degrees and held for a count of ten.</li>
                            <li> The leg is then slowly lowered back on the bed. Relax the muscles.</li>
                         </ul>       
                        <figure>
                        <img src="{% static 'assets/images/others/slr.png' %}">					
                        <figcaption>Straight Leg Raises</figcaption>
                        </figure>
                        <p> 5. <b>Exercising Hamstrings:</b>
                        The hamstring muscles need about 6 weeks to heal, and excessive hamstring stretching during this period can result in a "pulled" hamstring muscle and increased pain.
                        </p>
                        <h4>Hamstring Sets:</h4> 
                         <ul class="grid">
                        <li>- Bend knee slightly, keep your heel down.</li>
                            <li> - Firmly press heel into bed as you were trying to bend your knee.</li>
                            <li>- Do not let your buttock come of the bed. </li>       
                        <figure>
                        <img src="{% static 'assets/images/others/has.jpg' %}">					
                        <figcaption>Hamstring Sets</figcaption>
                        </figure>
                        <p> 6. <b>Passive extension of the knee (Heel props) : </b> 
                        <b>by using a rolled towel. 			    </b><br>
                        Note the towel must be high enough to raise the calf and thigh off the table
                        </p>
                        <ul class="grid">
                        <li>Remove the knee immobilizer from your knee every 2-3 hours while awake.</li>
                        <li> Position the heel on a pillow or rolled blanket with the knee unsupported.	</li>
                        <li> Passively let the knee sag into full extension for 10 - 15 minutes. 
                        Relax your muscles, and gravity will cause the knee to sag into full extension.
                        </li>       			      
                        </ul>       
            
                        <figure>
                        <img src="{% static 'assets/images/others/heel.jpg' %}">					
                        </figure>
    
                        <p> 7. <b>Heel slides:</b> are used to gain final degrees of flexion.<br>
                        • Pull the heel toward the buttocks, flexing the knee. Hold for 5 seconds.<br> 
                        • Straighten the leg by sliding the heel downward and hold for 5 seconds.</p>   
            
                        <figure>
                        <img src="{% static 'assets/images/others/ca1.jpg' %}">					
                        </figure>
    
                        <p> 8. <b> Passive flexion (bending) of the knee to 90 degrees:</b>
                        • Sit on the edge of a bed or table and letting gravity gently bend the knee. <br>
                        • The opposite leg is used to support and control the amount of bending.<br>
                        • This exercise should he performed 4 to 6 times a day for 10 minutes.
                        </p>   
            
                        <figure>
                        <img src="{% static 'assets/images/others/cal2.jpg' %}">					
                        </figure>
                        
                        </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
                
          
        </div><!-- /.portfolio-page-block -->  

        {% endblock %}
        
    
   