{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title">Empanelment  <span>Scheme</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="{% url 'index' %}">Home</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url 'empanelment' %}">Empanelment</a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Portfolio Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="portfolio-page-block portfolio-page-style-three mrb-172">
            <div class="container">
                <!-- Content Row -->
                <div class="row">
                    <div class="section-header">
                        <h3 class="title">M J Naidu  Hospitals – Empanelments </h3>
                        <p>
                            M j n  hospitals, vijayawada has tied up with various government and non-government insurance agencies/companies to provide patients with hassle-free cashless treatment.
                            The corporate empanelment & cashless treatment facility at m j naidu  hospitals is supported by well-trained team of professionals who efficiently handle medical insurance and reimbursement documentations.
                            M j n  hospitals is associated with the following companies/tpas (third party administrators)
                            Empaneled medical insurance organizations		</p>
                       <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/a.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/b.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/c.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/d.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/e.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/f.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/g.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/h.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/i.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/j.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/k.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/1.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/2.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/3.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/2.png" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/3.png" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/4.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/4.png" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/5.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/6.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/7.jpg' %}" alt="About Mock" />
                            </div>
                        </div> 
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/8.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/9.jpg' %}" alt="About Mock" />
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="ntr-img">
                                <img src="{% static 'assets/images/brand/10.jpg' %}" alt="About Mock" />
                            </div>
                        </div> -->
                       </div>

                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
                
          
        </div><!-- /.portfolio-page-block -->  

 {% endblock %}