{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Hero Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="hero-block" class="hero-block style-two pd-t-210 pd-b-120 mrb-75">
           <div class="hero-shape-overlay bg-image-100" style="background-image: url({% static 'assets/images/shape/hero2.png' %)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-content-area">
                            <h2 class="hero-title mrb-20">M J Naidu Super Speciality</h2><!-- /.hero-title -->
                            <div class="hero-desc">
                                <p>    It is indeed a great privilege for me and my team to present M J Naidu Super Speciality hospital,Vijayawada and Jangareddygudem, to you.
                                    We blend the tradition and experience of three decades in delivering affordable health care services in a patient-friendly environment, with a strong belief in ethical and transparent medical practices.
                                        M J Naidu Hospital is committed to serve the people to provide quality Orthopaedic care with futuristic medical inventions and innovations.
                              We have surpassed many barriers to prove our veracity and emerge as the best in Joint Replacement and Trauma Care management.
                                     </p>
                            </div><!-- /.hero-desc -->
                            <div class="hero-block-bottom mrt-60">
                                <div class="form-group-btn">
                                    <a class="btn btn-default mrr-30" href="{% url 'contact' %}" >Contact Us</a>
                                    <a href="#" class="btn-call-to">Call us or for any inquiry<span>+91-9985 104 104</span></a>
                                </div><!-- /.form-group-btn -->
                                <!-- /.social-status-->
                            </div><!-- /.hero-block-bottom -->
                        </div><!-- /.hero-content-area -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6">
                        <div class="hero-thumbnail-area">
                            <figure class="hero-thumb">
                                <!-- <img src="{% static 'assets/images/others/hero2.png" alt="Thumbnail">                               -->
                                  <img src="{% static 'assets/images/others/emergency-departments.svg' %}" alt="Thumbnail">

                            </figure>
                        </div><!-- /.hero-thumbnail-area -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hero-block -->
        <div class="facility-block mrb-200">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-3 col-md-6">  
                        <div class="facility-card hg-fadeInUp animated" data-animate="hg-fadeInUp" data-duration="1.0s" data-delay="0.1s" data-offset="100" style="animation-duration: 1s; animation-delay: 0.1s; visibility: visible;">
                            <div class="facility-icon color-zinnwaldite">
                                <img src="{% static 'assets/images/header/t1.jpg' %}" alt="Shape">
                                
                            </div><!-- /.facility-icon -->
                            <div class="facility-info">
                                <h2 class="facility-title">Knee Replacement</h2><!-- /.facility-title -->
                                <!-- <p>Why money's in that office, right? If she start giving means some bullet about ain't there.</p> -->
                            </div><!-- /.facility-info -->
                        </div><!-- /.facility-card -->
                    </div><!-- /.col-lg-6 -->
                    
                    <div class="col-lg-3 col-md-6">  
                        <div class="facility-card hg-fadeInUp animated" data-animate="hg-fadeInUp" data-duration="1.0s" data-delay="0.15s" data-offset="100" style="animation-duration: 1s; animation-delay: 0.15s; visibility: visible;">
                            <div class="facility-icon color-medium-purple">
                                <img src="{% static 'assets/images//header/t2.jpg' %}" alt="Shape">
                                
                            </div><!-- /.facility-icon -->
                            <div class="facility-info">
                                <h2 class="facility-title">Hip Replacement</h2><!-- /.facility-title -->
                                <!-- <p>Why money's in that office, right? If she start giving means some bullet about ain't there.</p> -->
                            </div><!-- /.facility-info -->
                        </div><!-- /.facility-card -->
                    </div><!-- /.col-lg-6 -->
                    
                    <div class="col-lg-3 col-md-6">  
                        <div class="facility-card hg-fadeInUp animated" data-animate="hg-fadeInUp" data-duration="1.0s" data-delay="0.2s" data-offset="100" style="animation-duration: 1s; animation-delay: 0.2s; visibility: visible;">
                            <div class="facility-icon color-silver-tree">
                                <img src="{% static 'assets/images/header/sp.jpg' %}" alt="Shape">
                                
                            </div><!-- /.facility-icon -->
                            <div class="facility-info">
                                <h2 class="facility-title">Sports Injuries</h2><!-- /.facility-title -->
                                <!-- <p>Why money's in that office, right? If she start giving means some bullet about ain't there.</p> -->
                            </div><!-- /.facility-info -->
                        </div><!-- /.facility-card -->
                    </div><!-- /.col-lg-6 -->
                    
                    <div class="col-lg-3 col-md-6">  
                        <div class="facility-card hg-fadeInUp animated" data-animate="hg-fadeInUp" data-duration="1.0s" data-delay="0.25s" data-offset="100" style="animation-duration: 1s; animation-delay: 0.25s; visibility: visible;">
                            <div class="facility-icon color-curious-blue">
                                <img src="{% static 'assets/images/header/pains.jpg' %}" alt="Shape">
                               
                            </div><!-- /.facility-icon -->
                            <div class="facility-info">
                                <h2 class="facility-title">Pain Management</h2><!-- /.facility-title -->
                                <!-- <p>Why money's in that office, right? If she start giving means some bullet about ain't there.</p> -->
                            </div><!-- /.facility-info -->
                        </div><!-- /.facility-card -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start service Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start About Us Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="about-block" class="about-us-block about-style-two pd-t-100 pd-b-100 mrb-200">
            <div class="mock-up-thumb-back bg-image-100" style="background-image: url({% static 'assets/images/others/about-left.jpg' %})"></div><!-- /.mock-up-thumb-back -->
            
            <div class="container">
                <!-- Title Row -->
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5">
                        <div class="mock-up-thumb reveal-right">
                            <img src="{% static 'assets/images/others/product1.jpg' %}" alt="About Mock" />
<!--
                            <div class="video-btn-area">
                                <a href="https://player.vimeo.com/video/4760972" class="video-btn video-popup">
                                    <span class="icon-play31"></span>
                                </a>
                            </div> /.video-btn-area 
-->
                        </div><!-- /.mock-up-block -->
                    </div><!-- /.col-lg-5 -->
                    
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2 class="title-main">About Us</h2><!-- /.title-main -->
                        </div><!-- /.section-title -->
                        
                        <div class="block-content-info about-content">
                            <p class="description">   
                                 It is indeed a great privilege for me and my team to present M J Naidu Super Speciality hospital,Vijayawada and Jangareddygudem, to you.
                            </p>
                            <p>  We blend the tradition and experience of three decades in delivering affordable health care services in a patient-friendly environment, with a strong belief in ethical and transparent medical practices.
                                M J Naidu Hospital is committed to serve the people to provide quality Orthopaedic care with futuristic medical inventions and innovations.</p>
                            <div class="hg-promo-numbers ml-t-20">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="tg-promo-number">
                                            <div class="odometer" data-odometer-final="30000 ">0</div> <i class="fa fa-plus"></i><!-- /.odometer -->
                                            <h4 class="promo-title">Happy Patients</h4><!-- /.promo-title -->
                                        </div><!-- /.tg-promo-number -->
                                    </div><!-- /.col-lg-6 -->
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="tg-promo-number">
                                            <div class="odometer" data-odometer-final="5000 ">0</div> <i class="fa fa-plus"></i><!-- /.odometer -->
                                            <h4 class="promo-title">Surgeries</h4><!--  /.promo-title -->
                                        </div><!-- /.tg-promo-number -->
                                    </div><!-- /.col-lg-6 --> 
                                                   
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="tg-promo-number">
                                            <div class="odometer" data-odometer-final="60 ">0</div> <i class="fa fa-plus"></i><!-- /.odometer -->
                                            <h4 class="promo-title">Doctors</h4><!--  /.promo-title -->
                                        </div><!-- /.tg-promo-number -->
                                    </div><!-- /.col-lg-6 -->   
                                                 
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="tg-promo-number">
                                            <div class="odometer" data-odometer-final="07">0</div><i class="fa fa-plus"></i><!-- /.odometer -->
                                            <h4 class="promo-title">Clinics</h4><!-- /.promo-title -->
                                        </div><!-- /.tg-promo-number -->
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.block-promo-numbers -->
                        </div><!-- /.about-content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!--~~./ end about us block ~~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Innovation Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="innovation-block" class="innovation-block innovation-block-two mrb-1955">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                            <h2 class="title-main">Our Speciality</h2><!-- /.title-main -->
                            <div class="divider">
                                <img src="{% static 'assets/images/icon/divider.png' %}" alt="icon">
                            </div>
                        </div><!-- /.section-title -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            
            <div id="innovation-carousel" class="owl-carousel" data-owl-items="4" data-owl-margin="30" data-owl-dots="0" data-owl-loop="1" data-owl-center="1">
                <div class="item">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others/phy.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'physiotheraphy' %}">physiotheraphy</a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'physiotheraphy' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div><!-- /.item -->

                <div class="item">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others/spin.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'spine' %}">Spin</a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'spine' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div><!-- /.item -->

                <div class="item">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others//radio.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'radiology' %}">Radiology</a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'radiology' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div><!-- /.item -->

                <div class="item">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others//pain.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'painmanagement' %}">Pain management
                                    </a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'painmanagement' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div><!-- /.item -->
            </div><!-- /#innovation-carousel-two -->
            
            <div class="btn-links-area text-center">
                <button class="btn-links btn-prev">
                    <span class="icon-arrows"></span>
                </button>
                <button class="btn-links btn-next">
                    <span class="icon-arrows-1"></span>
                </button>
            </div><!--~./ end btn links area ~-->
        </div><!-- /.innovation-block -->
        
        <div id="service-block" class="service-block mrb-200  pt-5">
            <div class="container ml-b-30">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-title text-center" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                             <h2 class="title-main">Why Us ? </h2>
                            <div class="divider">
                                <img src="{% static 'assets/images/icon/divider.png' %}" alt="icon">
                            </div>
                        </div><!-- /.section-title -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                    
                <div class="row">
                    <div class="col-lg-6">  
                        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s" data-offset="100">
                            <div class="service-icon color-zinnwaldite">
                                <span class="icon-bulb-business-idea-management"></span>
                            </div><!-- /.service-icon -->
                            <div class="service-info">
                                <h2 class="service-title">Advanced Medical Treatment</h2><!-- /.service-title -->
                                <p>It is indeed a great privilege for me and my team to present M J Naidu Super Speciality hospital,Vijayawada and Jangareddygudem, to you.</p>
                            </div><!-- /.service-info -->
                        </div><!-- /.service-card -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6"> 
                        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s"  data-offset="100">
                            <div class="service-icon color-silver-tree">
                                <span class="icon-business-management-megaphone"></span>
                            </div><!-- /.service-icon -->
                            <div class="service-info">
                                <h2 class="service-title">Insurance Support</h2><!-- /.service-title -->
                                <p>It is indeed a great privilege for me and my team to present M J Naidu Super Speciality hospital,Vijayawada and Jangareddygudem, to you.</p>
                            </div><!-- /.service-info -->
                        </div><!-- /.service-card -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6">  
                        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s"  data-offset="100">
                            <div class="service-icon color-medium-purple">
                                <span class="icon-briefcase-business-management"></span>
                            </div><!-- /.service-icon -->
                            <div class="service-info">
                                <h2 class="service-title">AffordabilityAffordability</h2><!-- /.service-title -->
                                <p>It is indeed a great privilege for me and my team to present M J Naidu Super Speciality hospital,Vijayawada and Jangareddygudem, to you.</p>
                            </div><!-- /.service-info -->
                        </div><!-- /.service-card -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6"> 
                        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s"  data-offset="100">
                            <div class="service-icon color-curious-blue">
                                <span class="icon-award-champion-c"></span>
                            </div><!-- /.service-icon -->
                            <div class="service-info">
                                <h2 class="service-title">Patient Care</h2><!-- /.service-title -->
                                <p>It is indeed a great privilege for me and my team to present M J Naidu Super Speciality hospital,Vijayawada and Jangareddygudem, to you.</p>
                            </div><!-- /.service-info -->
                        </div><!-- /.service-card -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.service-block -->
        
        
       <div id="innovation-block" class="innovation-block innovation-block-one mrb-1955">
            <div class="container pd-r-0">
                <!-- Title Row -->
               
                    <div class="row">
                        <div class="col">
                            <div class="section-title text-center">
                                <h2 class="title-main">Our Blog</h2><!-- /.title-main -->
                                <div class="divider">
                                    <img src="{% static 'assets/images/icon/divider.png' %}" alt="icon">
                                </div>
                            </div><!-- /.section-title -->
                        </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                    <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others/phy.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'physiotheraphy' %}">physiotheraphy</a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'physiotheraphy' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others/spin.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'spine' %}">Spine</a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'spine' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-one">
                        <figure class="portfolio-thumb">
                            <img src="{% static 'assets/images/others/radio.jpg' %}" alt="Portfolio Item">
                            <div class="content">
                                <div class="portfolio-title">
                                    <h3><a href="{% url 'radiology' %}">Radiology</a></h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'radiology' %}"><span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div><!-- /.content -->   
                        </figure><!-- /.portfolio-thumb -->               
                    </div><!-- /.portfolio-item -->
                </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
  
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start App Download Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
       
        <!-- testimonial -->
       
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Call To Action
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
 
        <section class="cta-two">
            <div class="container">
                <h2 class="cta-two__title">Have Orthopaedics Problem : Call us at <a href="tel:+91-9985 104 104" class="cta-two__highlight">+91-9985 104 104</a> or make an <a href="#"   data-toggle="modal" data-target="#modal_box2"class="cta-two__highlight cta-two__link">Appointment</a></h2><!-- /.cta-two__title -->
            </div><!-- /.container -->
        </section>
        {% endblock %}
        