{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title">Our <span>Team</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="{% url 'index' %}">Home</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url 'our_team' %}">Our Team</a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Team Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="team-block team-block-page mrb-100">
            <div class="container">
                <h3 class="title">Our Orthopedic Team</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. M J Naidu </h3>
                            <p class="member-designation">(M.S Ortho)</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. M Bharat </h3>
                            <p class="member-designation">(M.S Ortho)</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. B Narasimha Rao </h3>
                            <p class="member-designation">(M.S Ortho)</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. P Shankar Rao </h3>
                            <p class="member-designation">(M.S Ortho)</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. N Rama Rao </h3>
                            <p class="member-designation">(M.S Ortho)</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Uma Maheswara Rao </h3>
                            <p class="member-designation">(M.S Ortho)</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->
                  
                </div><!-- /.row -->
                <h3 class="title">Physiotherapy</h3>
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Dileep</h3>
                            <p class="member-designation">( Physiotherapy )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Sandeep</h3>
                            <p class="member-designation">( Physiotherapy )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Manoj</h3>
                            <p class="member-designation">( Physiotherapy )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Manoj</h3>
                            <p class="member-designation">( Physiotherapy )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                <h3 class="title">Anaesthesiology</h3>
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. B Prakash</h3>
                            <p class="member-designation">( Anaesthesiology )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Chandramouli</h3>
                            <p class="member-designation">( Anaesthesiology )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-card" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/team/user.png' %}" alt="Member Image">
                            </div><!-- /.member-thumb -->
                            <h3 class="member-name">Dr. Prasad</h3>
                            <p class="member-designation">( Anaesthesiology )</p>
                        </div><!-- /.team-member-card -->
                    </div><!-- /.col-lg-4 -->
                    
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!--~~./ end Team block ~~-->
{% endblock %}