{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title">Our <span>Hospital</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="index.html">Home</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="our-hospital.html">Our Hospital</a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Portfolio Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="portfolio-page-block portfolio-page-style-three mrb-172">
            <div class="container">
                <!-- Content Row -->
                <div class="row">
                    <div class="section-header">
                        <h3 class="title">About MJ Naidu Super Speciality Hospital</h3>
                        <p>M J Naidu Super Speciality hospital is a pioneer in the field of Orthopaedics and trauma care.</p>
                        <p>M J Naidu Super Speciality hospital came into being essentially to cater out to the needs of the trauma and accident victims.</p>
                         <p>At M J Naidu Super Speciality hospital, all efforts are made and no stone is left unturned to make the patient happy. A commitment to ethical medical practice plays a key role in ensuring the patient receives the best available treatment at an affordable cost.</p>
                         <p>M J Naidu Super Speciality hospital has been enriching lives, not only through treatment in the hospital, but through various Social Activities as well. A number of free socio-medical camps and other social initiatives are also organized on a regular basis to benefit the poor and needy.</p>
                        <p> M J Naidu Super Speciality hospital provides a comprehensive range of neuro-musculoskeletal health care, ranging from acute spinal injury or complex bone tumour to orthopaedic medicine and specialist rehabilitation for chronic back pain sufferers. This broad range of neuro-musculoskeletal services is unique within the M J Naidu Super Speciality hospital.</p>
                        <p> M J Naidu Super Speciality hospital is at the forefront in offering the latest in orthopaedic treatments and surgical techniques. This centre’s perform surgical procedures which include the most current arthroscopic and reconstructive techniques – including major joint replacements – Hip,Knee and Shoulder surgeries, arthroscopic surgery –shoulder instability,rotator cuff repair, Knee-- ACL,PCL reconstruction, meniscal repair, the most delicate hand surgeries and much more. The most advanced medical equipment and a team of highly experienced surgeons are supported by computer navigation and imaging equipment.
                        </p>
                        <h3 class="title">A rich legacy of 30 years.</h3>
                        <h3 class="title">Twin 5 storied , 150 bed World class Hospital </h3>
                        <p>State-of-art computerized machines with 6 well equipped operation theatres out-of-which 2 Operation Theatres is exclusively for Joint Replacements with laminar air flow. Routine major surgeries of joint replacement, spine surgeries, neuro surgeries, interlocking nailing, paediatric orthopaedic surgeries, Arthroscopy, knee ligament reconstruction, Minimally invasive plate Osteosynthesis ,flap grafting,soft tissue coverage, bone grafting, microvascular surgery etc.</p>
                        <div class="row">
                            <ul class="grid">
                                <li>	24Hrs Trauma service</li>
                                <li>	24Hrs Digital X-Ray / MRI/CT / USG / X-ray / Doppler /ECHO</li>
                                <li>	24Hrs Lalioratory</li>
                                <li>	24Hrs Pharmacy</li>
                                <li>	24Hrs Amliulance Service</li>
                                <li>	Intensive Care Unit</li>
                                <li>	Casualty Department</li>
                                <li> 6 Fully Equipped Operation Theater (2 LAMINAR )</li>
                                <li> Physiotherapy</li>
                                <li>	Car Parking</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
                
          
        </div><!-- /.portfolio-page-block -->  
{% endblock %}