{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title"> <span>Painmanagement</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="{% url 'index' %}">Home</a></li>                   
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url 'painmanagement' %}">Painmanagement</a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Portfolio Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="portfolio-page-block portfolio-page-style-three mrb-172">
            <div class="container">
                <!-- Content Row -->
                <div class="row">
                    <div class="section-header">
                        <h3 class="title">What is pain management?</h3>
                        <p>
                        Pain management encompasses pharmacological (treatment with medicine), nonpharmacological, and other approaches to Prevent, Reduce, or Stop pain sensations.
                        </p>
                        <h4>Why does one need to control Pain?</h4>
                        <p>
                        Pain serves as an alert to potential or actual damage to the body. Any damage to the body or its organs starts a chemical reaction in the body, which is relayed to the brain. Brain senses it as pain reacts accordingly.					
                        </p>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>What type of pains does a Pain Consultant manages?</h4>
                                <p>Pain Consultant manages Any Pain of Any duration, present anywhere in the body, namely</p>
                                
                                <ul class="grid">
                                <li>Headaches of any kind.</li>
                                <li>Cervical spondylosis.</li>
                                <li>Back pain. Sciatica.</li>
                                <li>Pain in buttocks and leg pains</li>
                                <li>Pain due to Cancer.</li>
                                <li>Pain persistent after the surgery.</li>
                                <li>Post herpetic neuralgia.</li>
                                <li>Trigeminal neuralgia (tics).</li>
                                <li>Frozen shoulder</li>
                                <li>Arthritis of any/all joints</li>
                                <li>Tennis elbow</li>
                                <li>Golfer's elbow</li>
                                <li>Heel pain</li>
                                <li>Generalized body aches</li>
                                <li>Fibromyalgia &amp; myofascial syndrome</li>
                                <li>Also a lot of other pains.</li>
                                
                                </ul>
                            </div>
                            <div class="col-md-4">
                            <img src="assets/images/others/prpb.jpg">
                            </div>
                        </div>
                        <div class="col-md-12">
    
    <h3 class="title">Medical ozone</h3>
                    <h4>Medical ozone is always a mixture of purest ozone and purest oxygen.</h4>
                    <p>According to its application, the ozone concentration can vary between 1 and 100 µg/ml (0.05 – 5 % O3). The ozone therapist, a trained physician, determines the complete dosage according to the medical indication and the patient's condition.</p>
                    <h4>Properties and effect</h4>
                    <p>Medical ozone has highly pronounced bactericidal, fungicidal and virostatic properties, and is thus widely used in disinfecting infected wounds, as well as in bacterially and virally produced diseases.</p>
    
    Its ability to stimulate the circulation is used in the treatment of circulatory disorders and makes it valuable in revitalizing organic functions.
    
    <h3 class="title">PRP</h3>
    <p>
    Whole blood consists of a cellular component, red and white blood cells, suspended in the plasma liquid component. About 44 % blood consists of red blood cells (RBC) while plasma forms the remaining portion and about 1% contains platelets (which promote blood clotting and healing of wounds) and white blood cells (that boost immunity). Plasma represents the remaining 55% of the blood volume. Plasma contains, amongst others, a mix of proteins including growth factors, sugars, clotting factors and immunoglobulins while platelets are crucial for tissue repair and vascular remodeling.
    </p>
    
    <h3 class="title">What is  PRP?</h3>
    <p>
    Platelet Rich Plasma (PRP) therapy is a revolutionary way to address tissue injury by using components from a patient’s own blood to trigger healing. These “healing components” are effective in treating joint and tendon conditions and non-healing wounds, as well as facilitating facial skin rejuvenation. You may have heard about its success in treating professional athletes Tiger Woods and Rafael Nadal.
    </p>
    <p>
    The body has an amazing capacity to heal itself. When the body becomes injured, a natural healing process occurs to repair the damaged tissue. The body signals platelets and other components in our blood supply to migrate to the site of injury. Under normal conditions, these platelets release a variety of factors that initiate and subsequently promote healing. New advances in medicine have been developed to harness and concentrate these platelets to be precisely introduced to the injury site in an injectable form.
    </p>
    <p>
    When PRP is injected into the damaged area, it stimulates a mild inflammatory response, which triggers the healing cascade. This leads to restored blood flow, new cell growth, tissue regeneration and, ultimately, faster healing of soft tissue injuries. It has the potential to “supercharge” the body’s capacity for healing.
    Therefore, PRP has emerged as a healing agent that comes handy in many situations.
    </p>
    
    <p><b>Platelet rich plasma</b> injections are replacing traditional orthopedic surgery in many instances for conditions ranging from soft tissue injuries (tendonitis, muscle tears, ligamentous injuries) to various joint afflictions, such 
    as a torn meniscus or mild to moderate arthritis of the joint.</p>
    
    <h3 class="title">Advantage</h3>
    <p>Non-surgical approach to treating injuries and chronic pain</p>
    <p>Our Goal is to help your body heal itself !</p>
    <p>No side effects. </p>
    <p>Outpatient procedure (no need for hospital stay)</p>
    
    
    <h3 class="title">Where does PRP come from?</h3>
    <p>
    A sample of blood will be taken from a vein in your arm under sterile conditions. The blood will be placed in a centrifuge, which is a device that spins the blood. This helps to separate the blood cells from the plasma and allows concentration of the platelets. This concentration of platelets increases healing growth factors approximately six to eight times faster than normal.
    </p>
    <p>
    The preparation takes about 35 minutes. The finished PRP product is then available for injection into the injured joint,TENDON OR MUSCLE.
    </p>
    <p>
    As PRP is prepared from your own blood, there is no concern about rejection or disease transmission. In fact, PRP contains a high concentration of white blood cells, which has an anti-bacterial property and helps to fight infection.
    </p>
    <div class="row">
    <div class="col-md-6">
    <h4>What can I expect during my treatment?</h4>
    <p>
    You will visit with the doctor, who will ask about your medical history and give you a brief exam to determine that you are a good candidate for PRP therapy. If so, we will then obtain the blood sample and prepare the PRP.
    </p>
    <p>
    The doctor will examine the area to be treated, prepare it sterilely, and apply numbing medicine.
    </p>
    <p>
    The PRP will be gently injected into the injured area and joint support tissues. After your treatment, you will stay for a 15 to 20 minute observation period. At check-out, you will schedule a follow-up appointment and we will review discharge instructions.
    </p>
    
    <h4>What can I expect after the PRP treatment?</h4>
    <p>
    You may have mild to moderate discomfort which may last up to one week. There may be temporary worsening of symptoms as your body’s natural inflammatory response is stimulated by the PRP. This is necessary for healing.
    </p>
    <p>
    Your doctor will instruct you in the use of ice, elevation, reduced activity, and analgesic medications for comfort while the PRP starts the healing process. Physical therapy or a therapeutic exercise program will also be prescribed.
    </p>
    
    <h4>What are the Potential Benefits of Treatment?</h4>
    <p>
    Patients can see a significant improvement in symptoms. This may eliminate the need for more aggressive treatments such as long term medication or surgery, as well as a remarkable return of function.
    </p>
    
    <h4>How many PRP treatments &amp; How often is this therapy?</h4>
    <p>
    While responses to treatment vary, most people will require 3-6 sets of injections. Each set of treatments is spaced approximately 3 weeks apart. There is no limit to the number of treatments you can have.  The risks and side effects do not change with the number of injections. 
    </p>
    
    <h4>Is PRP right for me? </h4>
    <p>
    If you have a tendon or ligament injury and traditional methods have not provided relief, then PRP therapy may be the solution. The procedure is less aggressive and less expensive than surgery. It will heal tissue with minimal or no scarring and alleviates further degeneration of the tissues. There will be an initial evaluation with the doctor to see if PRP therapy is right for you. 
    </p>
    
    
    
    </div>
    
    <div class="col-md-6">
    <h4>How soon can I go back to regular physical activities? </h4>
    <p>
    PRP therapy helps regenerate tendons and ligaments but it is not a quick fix. This therapy is stimulating the growth and repair of tendons and ligaments requiring time and rehabilitation. Through regular visits, the doctor will determine when you are able to resume regular physical activities. 
    
    </p> 
    <h4>What is the success rate? How many people respond? What is the cure rate?</h4>
    <p>
    Approximately 90% of the patients who responded said that they were satisfied with their treatment and would do it again.</p>
    <h4>What types of problems can be treated?</h4>
    <b>Chronic tendinopathies </b>
    <p>-Elbow (lateral and medial epicondyle, a.k.a. tennis and golfer’s elbow) </p>
    <p>-Shoulder (tendinosis, partial thickness tears) </p>
    <p>-Hip (gluteal, adductor, and proximal hamstring tendons, a.k.a. bursitis) </p>
    <p>-Knee (patellar tendon, a.k.a. jumper’s knee) </p>
    <p>-Foot/ankle (Achilles, peroneal, plantar fascia) </p>
     
    <b>Chronic pain from osteoarthritis</b>
    <p>-Knee</p>
    <p>-Shoulder (glenohumeral and acromioclavicular) </p>
    <p>-Hip </p>
    <p>-Ankle and foot </p>
    
    <b>Muscle </b>
    <p>-Subacute and chronic symptomatic intrasubstance muscle tears </p>
    
    <b>Spine </b>
    <p>-Intradiscal -Sacroiliac joint -Facet joints </p>
    
    
    </div>
</div>
    </div>
    </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
                
          
        </div><!-- /.portfolio-page-block -->  
{% endblock %}