{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title"> <span>Physiotheraphy</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="{% url 'index' %}">Home</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url 'physiotheraphy' %}">Physiotheraphy</a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Portfolio Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="portfolio-page-block portfolio-page-style-three mrb-172">
            <div class="container">
                <!-- Content Row -->
                <div class="row">
                    <di<div class="section-header">
                        <h3 class="title">Physiotherapy</h3>
                        <p>
                        Physiotherapy is one of the advanced department within the rehabilitation center of MJ Naidu HOSPITAL concerned with human function and movement. It uses physical approaches to promote,
                        maintain and restore physical, psychological and social well-being.<br>
                        Physiotherapists offer specialist assessment and treatments for a wide range of problems. 
                        </p>
                        <h3 class="title">Speciality Services:</h3>
                        <div class="row">
                        <div class="col-md-6">
                        <h4>In Patient Services</h4>
                        <p>In-patients are seen by the physiotherapist on the ward, especially with a dedicated service of ambulating in - patients thrice a day. The services include
                        </p>
                        <ul class="grid">
                        <li><b>Rehabilitation (recovering function)</b> following surgery, particularly after orthopaedic (hip/knee replacement or back) surgery</li>
                        <li><b>Rehabilitation </b>following a stroke, head injury or ‘flare up’ of a
                        neurological condition such as Parkinson’s Disease or Multiple 
                        Sclerosis Rehabilitation following post-operative industrial 
                        injuries such as hand injuries, nerve and tendon injuries
                        </li>
                        <li><b>Respiratory (breathing)</b> problems. Physiotherapists help people to manage their chest problems by teaching effective clearance of secretions,
                        management of breathlessness and encouraging physical activity.</li>
                        </ul>
                        </div>
                            <div class="col-md-6">
                                <h4>Out Patient Services</h4>
                                <p>
                                The Physiotherapy Team offer treatment for problems including: </p>
                                <ul class="grid">
                                <li>Back, neck, hand disorders and all the joint disorders &amp; Spinal problems</li>
                                <li>Sports injuries</li>
                                <li>Breathing conditions</li>
                                <li>Neurological conditions (eg. Parkinson’s Disease, multiple sclerosis)</li>
                                <li>Bell’s (facial) palsy </li>
                                <li>Stiffness management</li>
                                <li>Exercise programs</li>
                                <li>Home advice (do’s and dont’s)</li>
                                </ul>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                <h4>Facilities available</h4>
                                <p>Our department has advanced equipment’s such as </p>
                                <ul class="grid">
                                <li>SWD(short wave diathermy)</li>
                                <li>Interferential Therapy</li>
                                <li>Ultrasound Therapy</li>
                                <li>Electrical Stimulation</li>
                                <li>Continuous Passive Movement(cpm) to improve joint range of movements</li>
                                <li>Exercise Therapy Unit</li>
                                </ul>					
                                </div>
                        
                        
                        <div class="col-md-6">
                        <h4>Community Services:</h4>
                        <p>
    For patients who are unable to attend the physiotherapy department or, because of your condition, it is more appropriate for the physiotherapist to see you at home (or usual place of residence) we can arrange a community physiotherapy visit.
                        </p>
                    </div>               
                        </div>					
                    </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
                
          
        </div><!-- /.portfolio-page-block -->  
{% endblock %}