{% extends "base.html" %}
{% load static %}                                          
{% block content %}
        <section class="inner-banner">
            <div class="container">
                <h2 class="inner-banner__title"> <span>Trauma</span></h2><!-- /.inner-banner__title -->
                <ul class="thm-breadcrumb">
                    <li class="thm-breadcrumb__item"><a class="thm-breadcrumb__link" href="{% url 'index' %}">Home</a></li>                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="orthopaedics.html">Orthopaedics</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url 'orthopaedics'%}">Orthopaedics</a></li>
                    <li class="thm-breadcrumb__item current"><a class="thm-breadcrumb__link" href="{% url 'trauma'%}">trauma</a></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Portfolio Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="portfolio-page-block portfolio-page-style-three mrb-172">
            <div class="container">
                <!-- Content Row -->
            
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="service-sidebar">
                                <div class="service-sidebar__single">
                                    <ul class="service-sidebar__list">
                                       
                                        <li class="service-sidebar__list-item">
                                            <a href="{% url 'arthritis' %}" class="service-sidebar__list-link">Arthritis</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                        <li class="service-sidebar__list-item ">
                                            <a href="{% url 'bonetumours' %}" class="service-sidebar__list-link">Bone Tumours</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                        <li class="service-sidebar__list-item">
                                            <a href="{% url 'illizarov' %}" class="service-sidebar__list-link">Illizarov Technique</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                        <li class="service-sidebar__list-item">
                                            <a href="{% url 'orthosuv' %}" class="service-sidebar__list-link">Ortho Suv</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                        <li class="service-sidebar__list-item">
                                            <a href="{% url 'osteoporosis' %}" class="service-sidebar__list-link">Osteoporosis</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                        <li class="service-sidebar__list-item">
                                            <a href="{% url 'paediatric' %}" class="service-sidebar__list-link">Paediatric Orthopaedics</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                        <li class="service-sidebar__list-item">
                                            <a href="{% url 'trauma' %}" class="service-sidebar__list-link">Trauma</a>
                                        </li><!-- /.service-sidebar__list-item -->
                                   
                                    </ul><!-- /.service-sidebar__list -->
                                </div><!-- /.service-sidebar__single -->
                                
                                <div class="service-sidebar__single">
                                    <div class="service-sidebar__contact">
                                        <p class="service-sidebar__contact-text"><i class="fa fa-phone"></i><a href="teL:+91-9985 104 104" class="service-sidebar__contact-highlight">+91-9985 104 104</a></p><!-- /.service-sidebar__contact-text -->
                                        <p class="service-sidebar__contact-text"><i class="fa fa-paper-plane"></i><a href="mailto:info@mjnaiduhospitals.com">info@mjnaiduhospitals.com</a></p><!-- /.service-sidebar__contact-text -->
                                    </div><!-- /.service-sidebar__contact -->
                                </div><!-- /.service-sidebar__single -->
                            </div><!-- /.service-sidebar -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-8">
                            <div class="service-details__content section-header ">
                                
                                <h3 class="service-details__title">Accident &amp; Fracture Surgery (Trauma) </h3><!-- /.service-details__title -->
                                <p class="service-details__text">
                                    This includes bone fractures and joint dislocations as well as severe soft tissue injuries caused by traumatic events like Accidents, Falls, Sports, etc...
                                </p><p>
                                The Orthopaedic Trauma Service has extensive experience in salvage of previous failed orthopaedic trauma surgery with an international reputation in reconstructive expertise in malunion, nonunion, and correction of deformity.
                                </p>
                                <p>
                                The orthopaedic trauma team maintains an aggressive surgical approach to all fractures admitted to M J Naidu Super Speciality hospital. AO Surgical Principles are used in all fracture stabilization procedures. Minimally invasive approaches are utilized whenever possible. Physicians and hospitals receiving complex orthopaedic trauma cases are encouraged to call for consultation 24 hours a day.
                                </p>
            
                                <h4><b>Comprehensive treatment is available for the following conditions: </b><br>
                                </h4>
                            <div class="row">
                            <div class="col-md-6"> 
                                <ul class="grid">
                                <b><h4 style="font-weight:600;">Pelvis, Acetabulum and Hip </h4></b>
                                <li>Acetabular fractures</li>
                                <li>Hip pain in the young adult</li>
                                <li>Hip dysplasia - periacetabular osteotomy</li>
                                <li>Hip fractures</li>
                                <li>Letournel anterior total hip arthroplasty - minimally invasive</li>
                                <li>Malunion / nonunion hip and femoral neck</li>
                                <li>Osteotomy of the proximal femur</li>
                                <li>Pelvic fractures</li>
                                <li>Pelvic malunion / nonunion</li>
                                <li>Traumatic osteoarthritis of hip</li>
                        
                                </ul>
                                </div>
                                <div class="col-md-6">
                                <ul class="grid">
                                <b><h4 style="font-weight:600;">Tibia</h4></b>
                                <li>Ankle fractures</li>
                                <li>Complex tibial plateau fractures</li>
                                <li>Limb reconstruction - microvascular free flap</li>
                                <li>Open fractures</li>
                                <li>Pilon fractures</li>gr
                                <li>Tibial shaft fractures</li>
                        
                                </ul>
                                <ul class="grid">
                                <b><h4 style="font-weight:600;">Foot</h4></b>
                                <li>Calcaneal fractures</li>
                                <li>Hind, mid and forefoot fractures</li>
                                <li>Lisfranc fractures and salvage procedures</li>
                                <li>Ligament reconstruction of ankle</li>
                        
                                </ul>
                                </div>
                                <div class="col-md-6"> 
                                <ul class="grid">
                                <b><h4 style="font-weight:600;">Femur</h4></b>
                                <li>Articular fractures of the knee</li>
                                <li>Distal femur fractures</li>
                                <li>Distal femoral osteotomy for malunion</li>
                                <li>Femoral shaft fracture</li>
                                <li>Femoral shaft nonunion</li>
                                <li>Malunion of femoral shaft and distal femur</li>
                                <li>Post-traumatic lengthening of femoral fracture</li>
                        
                                </ul>
                                <ul class="grid">
                                <b><h4 style="font-weight:600;">Upper Extremity</h4></b>
                                <li>Elbow fracture / dislocation</li>
                                <li>Forearm fractures and soft-tissue trauma</li>
                                <li>Intra-articular distal humeral fractures</li>
                                <li>Proximal humerus fractures, 3-4 part intra-articular shoulder fractures</li>
                                <li>Scapular fractures</li>
                                <li>Segmental humeral shaft fractures, malunions and nonunions</li>
                                <li>Wrist fractures</li>
                                </ul>					
                                </div>
                            </div>
            <h4>Clavicle fractures </h4>
            <p>Clavicle fractures are one of the most common fractures seen in outpatient department they occur due to fall on outstretch hands, RTA. Most of the times clavicle fractures are treated conservatively. The surgical treatment is indicated in patients with tenting of skin over the fracture site, open fractures, nonunion and if neurovascular deficit is present. Patients who are treated conservatively will require 3 weeks of immobilization followed by shoulder strengthening exercises. The surgical treatment is in the form of plate fixation and immediate mobilization of the shoulder joint.
            </p>	
           <h4>Proximal Humerus </h4>
            <p>In all age groups the proximal humerus fractures are treated by open reduction and internal fixation with locking plate through delto pectoral approach. The aim of fixation is to achieve good range of movements and quick recovery. The most common complication encountered are stiffness of the shoulder for which prolonged physiotherapy is advised.</p>		
            <h4>Shaft of Humerus</h4>
            <p>Fractures of humerus, minimal invasive surgery is indicated in the form of interlock nailing. Fixation of humerus fractures gives us the opportunity to mobilize the shoulder and elbow joint early and stiffness is avoided. All the patients are immediately subjected to physiotherapy so that the stiffness the joints is avoided. <br>
            </p>
            <h4>Distal Humerus</h4>
            <p>Fractures around the elbow are notorious fractures which results in stiffness of the elbow which is very difficult to treat. Most common mode of treatment for distal humerus fractures is open reduction and internal fixation with contoured locking plates.
            After surgery the patients are advised immediately to do physiotherapy in the form of active and passive elbow mobilization.
            </p>
            <h4>Forearm</h4>
            <p>Fractures of the forearm are considered as intra articular fractures and hence radius and ulna fractures are best treated by open reduction and internal fixation with dynamic compression plates. The radius fracture is approached by volar Henry's approach and through dorsal incision ulna fracture is exposed and fixed with plates. Forearm fractures are immediately mobilised after fixation and in comminuted fractures iliac crest bone grafting is advised.<br>
            </p>
            <h4>Distal Radius</h4>
            <p>Distal radius fractures are named as Colles fractures if they occur in elderly patients. Colles fractures are treated usually by closed reduction and either plaster application or percutaneous k-wire fixation. The wrist joint is immobilised in plaster for a period of 6 weeks followed by rigorous physiotherapy. The most common complications are wrist stiffness, pintrack infections, malunion, dinner fork deformity and shoulder hand syndrome. Wrist stiffness and shoulder hand syndrome are best treated by aggressive physiotherapy. Young patients usually present with comminuted fractures and volar bartons fractures which are treated with plate fixation through volar approach.<br>
            </p>
              <h4>Scaphoid</h4>
            <p>Fractures of scaphoid is the most commonest fracture seen in the wrist. Undisplaced fractures are usually treated with scaphoid cast application for a period of 3 weeks. If the fracture is displaced, they are treated by either percutaneous or open Herbert's screw fixation. The most common complication seen in scaphoid fractures is avascular necrosis and nonunion which usually necessitates the need for repeated procedures. <br>
            </p>
            <h4>Neck of Femur</h4>
            <p>The neck of femur fractures are common in elderly age group due to osteoporosis and trivial fall results in fractures. They are best treated by joint replacement surgery in the form of either hemi or Total hip arthroplasty. The main aim is to mobilize the patient as early as possible so that we can prevent prolonged bed ridden complications like hypostatic pneumonia, bedsores, sarcopenia, decreased cardio respiratory reserve. On the second day of surgery patient is mobilized with full weight bearing with walker support. 
            The neck of femur fractures in young patients usually results due to high velocity injury. In young patients the femoral head is preserved and stabilized with cancellous screws. If the patient presents late with neck of femur fracture, treated with valgus osteotomy, bone grafting and DHS fixation.
            </p>
            <h4>It Fracture PFNA</h4>
            <p>Trochanteric fractures results due to trivial fall in elderly patients, high velocity injury in young patients. In all age groups, trochanteric fractures are stabilized with either DHS or proximal femoral nail. If the trochanteric fracture is found to be grossly comminuted in elderly patients, they are better treated with cemented bipolar hemiarthroplasty.<br>
            </p>
             <h4>Shaft of Tibia</h4>
            <p>Most commonly occurs due to high velocity injuries like RTA in youngsters and following a trivial fall in the elderly, these are managed with inter – locking tibial nailing , Expert tibial nail, locking plates and buttress plate especially for tibial condyles. Distal tibial fractures are know for its complication due to poor vascularity can also be managed well with nail and locking/ Dynamic compression plate.
            </p>
           <h4>Talus Calcaneum</h4>
            <p>Talus and calcaneum happens following fall from height, Talus can be fixed with cancellous screw and calcaneum can managed conservatively if without much displacement, if displaced needs internal fixation with cancellous screws<br>
            </p>
                                 
                            </div><!-- /.service-details__content -->
                        </div><!-- /.col-lg-9 -->
                    </div><!-- /.row -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
                
          
        </div><!-- /.portfolio-page-block -->  
        {% endblock %}